<app-nav></app-nav>
<h1 class="text-center mb-5 bg-black p-4 text-white fw-bolder">Add Employee</h1>
<div class="container m-5">
  <div class="input-group mb-4">
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" [(ngModel)]="employeeObject.firstName" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-4">
    <span class="input-group-text" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" [(ngModel)]="employeeObject.lastName" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-4">
    <input type="text" class="form-control" placeholder="Email" aria-label="Email" [(ngModel)]="employeeObject.email" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">.com</span>
  </div>
  
  <select class="form-select mb-4" aria-label="Default select example" [(ngModel)]="employeeObject.departmentId">
    <option selected>Department ID</option>
    <option value="D001">D001</option>
    <option value="D002">D002</option>
    <option value="D003">D003</option>
  </select>

  <select class="form-select mb-4" aria-label="Default select example" [(ngModel)]="employeeObject.roleId">
    <option selected>Role ID</option>
    <option value="R001">R001</option>
    <option value="R002">R002</option>
    <option value="R003">R003</option>
  </select>

  <button type="button" class="btn btn-success" (click)="addEmployee()">Add Employee</button>

</div>